---
- name: Configure Telegraf
  hosts: all
  remote_user: sysadmin
  become: true

  tasks:
  - name: Deploy influxdata package signing key
    ansible.builtin.copy:
      src: files/telegraf/influxdata-archive.key
      dest: /etc/apt/influxdata-archive.key
      owner: root
      group: root
      mode: '0444'

  - name: Install influxdata repository
    ansible.builtin.apt_repository:
      repo: "deb [signed-by=/etc/apt/influxdata-archive.key] https://repos.influxdata.com/ubuntu focal stable"
      state: present

  - name: Install Telegraf
    ansible.builtin.apt:
      name: telegraf
      state: present
      update_cache: true

  - name: Deploy telegraf.conf
    ansible.builtin.copy:
      src: files/telegraf/telegraf.conf
      dest: /etc/telegraf/telegraf.conf
      owner: root
      group: telegraf
      mode: '0440'

  - name: Restart telegraf.service
    ansible.builtin.systemd:
      name: telegraf
      state: restarted
      enabled: true
