---
- name: Configure Telegraf
  hosts: all
  remote_user: sysadmin
  become: true

  tasks:
  - name: Deploy influxdata package signing key
    ansible.builtin.copy:
      src: files/telegraf/influxdata-archive.key
      dest: /root/influxdata-archive.key
      owner: root
      group: root
      mode: '0444'

  - name: Install influxdata package signing key
    ansible.builtin.shell: "/usr/bin/gpg --keyring /etc/apt/trusted.gpg.d/influxdata.gpg --list-keys | /usr/bin/grep AC10D7449F343ADCEFDDC2B6DA61C26A0585BD3B || /usr/bin/gpg --batch --dearmor -o /etc/apt/trusted.gpg.d/influxdata.gpg < /root/influxdata-archive.key"

  - name: Install influxdata repository
    ansible.builtin.apt_repository:
      repo: deb https://repos.influxdata.com/ubuntu focal stable
      state: present

  - name: Install Telegraf
    ansible.builtin.apt:
      name: telegraf
      state: present
      update_cache: true

  - name: Deploy telegraf.conf
    ansible.builtin.copy:
      src: files/telegraf/telegraf.conf
      dest: /etc/telegraf/telegraf.conf
      owner: root
      group: telegraf
      mode: '0440'

  - name: Restart telegraf.service
    ansible.builtin.systemd:
      name: telegraf
      state: restarted
      enabled: true
